<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MC_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,844},{378,174}}</string>
                <key>offset</key>
                <string>{12,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,163},{378,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{384,170}}</string>
                <key>offset</key>
                <string>{11,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,165},{384,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1466},{314,252}}</string>
                <key>offset</key>
                <string>{-15,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,138},{314,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{432,284}}</string>
                <key>offset</key>
                <string>{24,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,132},{432,284}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1040},{358,312}}</string>
                <key>offset</key>
                <string>{8,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,125},{358,312}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1354},{276,318}}</string>
                <key>offset</key>
                <string>{-3,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,125},{276,318}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1166},{328,298}}</string>
                <key>offset</key>
                <string>{7,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,129},{328,298}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,1072},{340,284}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,128},{340,284}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,136},{390,154}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,177},{390,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{392,132}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,194},{392,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1020},{368,144}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,183},{368,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1720},{312,164}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,174},{312,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,618},{250,198}}</string>
                <key>offset</key>
                <string>{12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,166},{250,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,386},{244,230}}</string>
                <key>offset</key>
                <string>{17,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,163},{244,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,818},{254,252}}</string>
                <key>offset</key>
                <string>{20,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,144},{254,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,1720},{270,266}}</string>
                <key>offset</key>
                <string>{30,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,115},{270,266}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_Down0.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,488},{382,186}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,167},{382,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_Down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{382,186}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,167},{382,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_Down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{384,194}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,172},{384,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_Down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,292},{384,194}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,172},{384,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_Up0.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{382,188}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,169},{382,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_Up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{382,186}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,167},{382,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_Up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,864},{378,174}}</string>
                <key>offset</key>
                <string>{12,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,163},{378,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_Up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,676},{378,186}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,162},{378,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>0.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cad3173c0ad97b17e036b09d3421a4cf:c04acd62904672a64870002f7e75a83e:6a742f82625aa3c6c9ec5692622f5fbd$</string>
            <key>textureFileName</key>
            <string>0.png</string>
        </dict>
    </dict>
</plist>
