<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MC_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{400,152}}</string>
                <key>offset</key>
                <string>{-9,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,154},{400,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,392},{390,186}}</string>
                <key>offset</key>
                <string>{-12,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,149},{390,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,436},{266,376}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,79},{266,376}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,240},{214,394}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,54},{214,394}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,240},{194,402}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,55},{194,402}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,910},{240,360}}</string>
                <key>offset</key>
                <string>{23,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,96},{240,360}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{260,350}}</string>
                <key>offset</key>
                <string>{10,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,100},{260,350}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,456},{214,370}}</string>
                <key>offset</key>
                <string>{-17,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,76},{214,370}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,672},{362,236}}</string>
                <key>offset</key>
                <string>{-20,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,134},{362,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,704},{316,252}}</string>
                <key>offset</key>
                <string>{-29,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,124},{316,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,924},{258,216}}</string>
                <key>offset</key>
                <string>{-36,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,121},{258,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,924},{284,282}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,121},{284,282}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{290,322}}</string>
                <key>offset</key>
                <string>{36,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,130},{290,322}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,438},{230,344}}</string>
                <key>offset</key>
                <string>{42,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,117},{230,344}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,670},{288,334}}</string>
                <key>offset</key>
                <string>{38,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,122},{288,334}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,580},{342,364}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,81},{342,364}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_Down0.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{404,236}}</string>
                <key>offset</key>
                <string>{-13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,127},{404,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_Down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,2},{404,236}}</string>
                <key>offset</key>
                <string>{-13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,127},{404,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_Down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{406,280}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,115},{406,280}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_Down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{406,280}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,115},{406,280}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_Up0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,2},{404,236}}</string>
                <key>offset</key>
                <string>{-13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,127},{404,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_Up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,2},{404,236}}</string>
                <key>offset</key>
                <string>{-13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,127},{404,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_Up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,240},{400,150}}</string>
                <key>offset</key>
                <string>{-9,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,154},{400,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_Up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,284},{400,152}}</string>
                <key>offset</key>
                <string>{-9,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,154},{400,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f777696ff3562aa2a263d15ebf3435b0:4fe741b4ec8e51ab59066aece4e9ab8c:2f7983b4c14cf09938dfa44df99367f8$</string>
            <key>textureFileName</key>
            <string>1.png</string>
        </dict>
    </dict>
</plist>
