<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MC_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1340},{422,188}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,161},{422,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{420,198}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,156},{420,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,2},{236,290}}</string>
                <key>offset</key>
                <string>{-8,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,144},{236,290}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,350},{312,288}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,102},{312,288}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,834},{372,298}}</string>
                <key>offset</key>
                <string>{34,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,65},{372,298}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1704},{334,330}}</string>
                <key>offset</key>
                <string>{-5,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,41},{334,330}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1764},{274,416}}</string>
                <key>offset</key>
                <string>{35,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,36},{274,416}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{302,444}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,35},{302,444}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{410,224}}</string>
                <key>offset</key>
                <string>{14,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,138},{410,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1256},{388,250}}</string>
                <key>offset</key>
                <string>{24,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,112},{388,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,414},{356,252}}</string>
                <key>offset</key>
                <string>{30,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,92},{356,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1646},{382,316}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,103},{382,316}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1208},{334,330}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,95},{334,330}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,2},{312,346}}</string>
                <key>offset</key>
                <string>{-14,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,80},{312,346}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,772},{268,316}}</string>
                <key>offset</key>
                <string>{-29,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,100},{268,316}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1290},{412,296}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,125},{412,296}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_Down0.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,872},{416,226}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,145},{416,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_Down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,424},{416,226}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,145},{416,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_Down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,842},{412,260}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,125},{412,260}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_Down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,420},{412,260}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,125},{412,260}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_Up0.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{416,226}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,145},{416,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_Up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,424},{416,226}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,145},{416,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_Up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1340},{422,188}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,161},{422,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>MC_Up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,448},{422,188}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,161},{422,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Replication0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{354,444}}</string>
                <key>offset</key>
                <string>{30,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,35},{354,444}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Replication1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,894},{302,444}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,35},{302,444}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce61f301f4a57352b2eb8ad4bef4b660:1188fa3588ab8c3abfa58dbb574ca03f:623324867643c00c9de7ce2df641103a$</string>
            <key>textureFileName</key>
            <string>2.png</string>
        </dict>
    </dict>
</plist>
