<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Emperor/Emperor0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{222,184}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,41},{222,184}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Emperor/Emperor1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{216,174}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,43},{216,174}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Emperor/Emperor10.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,372},{164,184}}</string>
                <key>offset</key>
                <string>{13,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,42},{164,184}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Emperor/Emperor11.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,366},{174,184}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,45},{174,184}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Emperor/Emperor12.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,188},{168,190}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,42},{168,190}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Emperor/Emperor13.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,112},{154,196}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,36},{154,196}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Emperor/Emperor14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{138,200}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,29},{138,200}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Emperor/Emperor15.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{108,200}}</string>
                <key>offset</key>
                <string>{33,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,28},{108,200}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Emperor/Emperor2.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,268},{194,162}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,43},{194,162}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Emperor/Emperor3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{200,170}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,42},{200,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Emperor/Emperor4.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{208,182}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,41},{208,182}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Emperor/Emperor5.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,178},{204,186}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,40},{204,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Emperor/Emperor6.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,186},{194,184}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,42},{194,184}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Emperor/Emperor7.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,380},{180,184}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,42},{180,184}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Emperor/Emperor8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{172,184}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,42},{172,184}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Emperor/Emperor9.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{166,184}}</string>
                <key>offset</key>
                <string>{12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,42},{166,184}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ecf27fc248e53867ce41f7a4a365e9c5:5c8ed0492f93c82e3f285cf20147fe8d:130860349884e9db32a7002f801c74f9$</string>
            <key>textureFileName</key>
            <string>boss.png</string>
        </dict>
    </dict>
</plist>
