<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BonusTime.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{444,29}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{444,29}}</string>
                <key>sourceSize</key>
                <string>{454,37}</string>
            </dict>
            <key>Bullet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,158},{109,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,53}}</string>
                <key>sourceSize</key>
                <string>{109,53}</string>
            </dict>
            <key>Bullet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,554},{38,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,28}}</string>
                <key>sourceSize</key>
                <string>{38,28}</string>
            </dict>
            <key>Coin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,584},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>Coin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,780},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>EmprorLaser.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{496,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,76}}</string>
                <key>sourceSize</key>
                <string>{496,76}</string>
            </dict>
            <key>EnergyStation.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{296,223}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,223}}</string>
                <key>sourceSize</key>
                <string>{298,251}</string>
            </dict>
            <key>Laser.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{496,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,76}}</string>
                <key>sourceSize</key>
                <string>{496,76}</string>
            </dict>
            <key>Warning0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{256,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,47}}</string>
                <key>sourceSize</key>
                <string>{256,47}</string>
            </dict>
            <key>Warning1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,603},{256,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,47}}</string>
                <key>sourceSize</key>
                <string>{256,47}</string>
            </dict>
            <key>Warning2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{256,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,47}}</string>
                <key>sourceSize</key>
                <string>{256,47}</string>
            </dict>
            <key>Warning3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,701},{256,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,47}}</string>
                <key>sourceSize</key>
                <string>{256,47}</string>
            </dict>
            <key>dabude1.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,269},{148,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,78}}</string>
                <key>sourceSize</key>
                <string>{148,78}</string>
            </dict>
            <key>dabude2.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,419},{148,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,78}}</string>
                <key>sourceSize</key>
                <string>{148,78}</string>
            </dict>
            <key>dalechong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,569},{209,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,90}}</string>
                <key>sourceSize</key>
                <string>{209,90}</string>
            </dict>
            <key>dalechong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{305,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,138}}</string>
                <key>sourceSize</key>
                <string>{305,138}</string>
            </dict>
            <key>dalepao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,276},{171,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,112}}</string>
                <key>sourceSize</key>
                <string>{171,112}</string>
            </dict>
            <key>dalepao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,189},{117,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,85}}</string>
                <key>sourceSize</key>
                <string>{117,85}</string>
            </dict>
            <key>dalerao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,449},{109,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,98}}</string>
                <key>sourceSize</key>
                <string>{109,98}</string>
            </dict>
            <key>dalerao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,549},{230,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,105}}</string>
                <key>sourceSize</key>
                <string>{230,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92a2f4465920fb72e77861f9a3d00b5c:09bedd280978b0ca4dae0f945deebdee:0b760b9359d5dddae5dab0980cb73d8a$</string>
            <key>textureFileName</key>
            <string>npc.png</string>
        </dict>
    </dict>
</plist>
